@import "tailwindcss";

.bgd{
  background-image: url("../src/assets/bground.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 20%;
  position: relative;
  padding-top: 12%;
}
.classes{
   border-radius: 20px;
      background: rgba(255, 255, 255, 0.2); /* Transparent */
      backdrop-filter: blur(15px); /* Gaussian blur */
      border: 2px solid rgba(255, 255, 255, 0.3);
      text-align: center;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      width: 500px;
}
